---
import '../styles/global.css';
---
<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer class="sticky top-full flex flex-col pb-8 ml-auto mr-auto w-full items-center text-center text-gray-400">
  <p class="">UK-BIAS is a member of the UK node of Euro-BioImaging. For more information on the UK node, please click <a href="https://www.rms.org.uk/community/networks-affiliates/bioimaginguk-network/uk-imaging-nodes.html" class="text-blue-400">here</a>.</p>
</footer>
