---
import ExtLink from "./ExtLink.astro";
import NavLink from "./NavLink.astro";
---

<div class="fixed overflow-hidden position-absolute">
  <nav class="sidebar p-2 h-[calc(100vh-2.5rem)] w-64 bg-gray-100">
    <NavLink link="/" text="About" colour="#465786" />
    <NavLink link="/the-team/" text="The team" colour="#ABB1C4" />
    <NavLink link="/funding/" text="Funding" colour="#E8C3C9" />
    <NavLink link="/submit-project/" text="Submit a project" colour="#BE3E49" />
    <!-- <ExtLink link="https://github.com/UK-BIAS" text="GitHub" logo="../assets/GitHub_Invertocat_Black_Clearspace.png"/> -->
  </nav>
</div>
