---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle, subHead } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-gray-100">
    <Header />
    <Sidebar />
    <div class="main-content mt-6 min-h-screen text-center">
      <h1 class="text-4xl text-gray-500">{pageTitle}</h1>
      <slot />
      <Footer />
    </div>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
