---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle, heading, subHead } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${import.meta.env.BASE_URL}/favicon.svg`}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>pageTitle</title>
  </head>
  <body class="bg-gray-100">
    <Header />
    <Sidebar />
    <div class="main-content md:ml-64 mt-6 ml-6 mr-6 min-h-screen text-justify md:text-right">
      <h1 class="text-4xl text-[#465786]">{heading}</h1>
      <h2 class="text-3xl text-[#BE3E49] mb-4">{subHead}</h2>
      <div class="mt-8 text-md text-justify">
        <slot />
      </div>
      <Footer />
    </div>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
